.downloads {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.downloads .text p {
    font-size: 14px;
    text-align: center;
    margin: 10px 20px;
    color: var(--black);
}

.downloads .links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.downloads .links img {
    display: block;
    height: 40px;
}

.downloads .links a:first-child {
    margin-right: 8px;
}