footer .links {
    margin-top: 24px;
}

footer .about, footer .topics, footer .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer .text {
    color: var(--grey);
    font-size: 12px;
    text-decoration: none;
}

footer .links .text {
    margin: 0px 8px 12px;
}

footer .info {
    margin: 12px 0;
}

footer .info select {
    border: none;
    background-color: inherit;
}

footer .info p {
    margin-left: 16px;
}