.conta {
    width: 100%;
}

.conta .profile {
    display: flex;
    justify-content: center;
}

.conta .profile img {
    display: block;
    width: 84px;
    height: 84px;
    border-radius: 100%;
    margin: 8px 0 16px;
}

.conta .button__link {
    margin: 16px auto 20px;
}

.conta .button__link button {
    width: auto;
}

.conta .remove {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}