.phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.phones div {
    position: relative;
    width: 378px;
    margin-right: 32px;
    margin-bottom: 12px;
}

.phones div .screen {
    position: absolute;
    width: 286px;
    left: 92px;
    top: 8px;
}

@media (max-width: 875px) {
    .phones {
        display: none;
    }
}