.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.signup div {
    margin: 15px;
}

.signup p {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.signup .conta p {
    color: var(--grey);
}
.signup .form p {
    color: var(--black);
}
.signup .conta p:first-child {
    margin-bottom: 4px;
}
