.signin {
    width: 350px;
}

.box {
    border: 1px solid var(--grey-light);
    background-color: var(--grey-background-light);
    padding: 10px 0;
    margin-bottom: 10px;
}

.signin .button__link button {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    border-radius: 4px;
    padding: 5px 9px;
    cursor: pointer;
    width: 100%;
}

.signin .button__link button:active {
    background-color: var(--blue-active);
}

.signin .button__link button:disabled {
    background-color: var(--blue-disabled);
}

.signin .button__link span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--grey-background-light);
    text-align: center;
}

.link {
    color: var(--blue);
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}

.link:active {
    color: var(--blue-active);
}

.link:disabled {
    background-color: var(--blue-disabled);
}

@media (max-width: 450px) {
    .box {
        border: none;
        background-color: unset;
    }
}