@import url('./footer.css');
@import url('./phones.css');
@import url('./downloads.css');
@import url('./signup.css');
@import url('./signin.css');
@import url('./login_conta.css');
@import url('./login_form.css');
@import url('./login.css');

:root {
    --black: #141414;
    --blue: #0195F6;
    --blue-active: #4CB4F8;
    --blue-disabled: #B2DEFD;
    --blue-facebook: #385185;
    --grey: #8C8C8C;
    --grey-light: #DADADB;
    --grey-background: #FBFBFA;
    --grey-background-light: #FEFEFF;
    --grey-background-input: #FAFAFA;
}

* {
    font-family: sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll;
}

body {
    background-color: var(--grey-background);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 32px 0;
}

footer {
    padding: 0 16px;
    margin-bottom: 52px;
}

.hidden {
    display: none;
}