@import url('./footer.css');
@import url('./phones.css');
@import url('./downloads.css');
@import url('./signup.css');
@import url('./signin.css');
@import url('./login_conta.css');
@import url('./login_form.css');
@import url('./login.css');

:root {
    --cinza: grey;
    font-size: 16px;
    font-family: sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FBFBFA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

footer {
    padding: 0 1rem;
    margin-bottom: 52px;
}

.hidden {
    display: none;
}