@import url('./footer.css');
@import url('./phones.css');

:root {
    --cinza: grey;

    font-size: 16px;
    font-family: sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}